body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #2e7d32;
}

.film {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.film img {
  width: 120px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.seanslar button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #66bb6a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.seanslar button:hover {
  background-color: #388e3c;
}
.seansSec{
    text-decoration: none;
}